.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1920px;
  height: 3548px;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1920px;
  height: 78px;
}

.image_1 {
  width: 52px;
  height: 40px;
  margin: 18px 0 0 28px;
}

.text_1 {
  width: 154px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 24px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 26px 0 0 6px;
}

.section_1 {
  background-color: rgba(244, 245, 255, 1);
  border-radius: 6px;
  width: 360px;
  height: 40px;
  margin: 18px 0 0 42px;
}

.thumbnail_1 {
  width: 15px;
  height: 15px;
  margin: 13px 0 0 11px;
}

.text_2 {
  width: 201px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(187, 186, 204, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 25px;
  margin: 8px 125px 0 8px;
}

.text_3 {
  width: 61px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 22px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 24px 0 0 102px;
}

.text_4 {
  width: 92px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 22px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
  margin: 24px 0 0 82px;
}

.text_5 {
  width: 197px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 22px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 24px 0 0 84px;
}

.text_6 {
  width: 75px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 22px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  margin: 24px 309px 0 276px;
}

.section_2 {
  background-color: rgba(119, 137, 255, 1);
  position: absolute;
  left: 1562px;
  top: 30px;
  width: 1px;
  height: 18px;
}

.block_20 {
  position: relative;
  width: 1920px;
  height: 3471px;
  margin-bottom: 1px;
}

.paragraph_1 {
  width: 1571px;
  height: 121px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 56px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 60px;
  margin: 121px 0 0 180px;
}

.text-wrapper_25 {
  width: 694px;
  height: 33px;
  margin: 96px 0 0 228px;
}

.text_8 {
  width: 172px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}

.text_9 {
  width: 138px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
  margin-left: 95px;
}

.text_7 {
  width: 194px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
  margin-left: 95px;
}

.box_1 {
  background-color: rgba(231, 233, 249, 1);
  height: 3px;
  width: 1560px;
  margin: 17px 0 0 180px;
}

.block_1 {
  background-color: rgba(86, 107, 255, 1);
  width: 138px;
  height: 3px;
  margin-left: 315px;
}

.block_21 {
  width: 1557px;
  height: 526px;
  margin: 36px 0 0 180px;
}

.text_10 {
  width: 22px;
  height: 108px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 22px;
  margin-top: 163px;
}

.paragraph_2 {
  width: 26px;
  height: 521px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 86px;
  margin-left: 11px;
}

.section_5 {
  width: 1490px;
  height: 484px;
  margin: 42px 0 0 8px;
}

.box_4 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
}

.box_5 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 86px;
}

.box_6 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 86px;
}

.box_7 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 86px;
}

.box_8 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 86px;
}

.box_9 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 86px;
}

.text-wrapper_26 {
  width: 1346px;
  height: 22px;
  margin: 26px 0 0 53px;
}

.text_11 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
}

.text_12 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 125px;
}

.text_13 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 124px;
}

.text_14 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 125px;
}

.text_15 {
  width: 82px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 125px;
}

.text_16 {
  width: 98px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 124px;
}

.text_17 {
  width: 114px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 125px;
}

.image-text_11 {
  width: 248px;
  height: 30px;
  margin: 42px 0 0 835px;
}

.image_11 {
  width: 24px;
  height: 12px;
  margin-top: 11px;
}

.text_18 {
  width: 220px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 22px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}

.text-wrapper_27 {
  width: 192px;
  height: 37px;
  margin: 58px 0 0 181px;
}

.text_19 {
  width: 28px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 28px;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 5px;
}

.text_20 {
  width: 156px;
  height: 37px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
}

.box_12 {
  background-color: rgba(247, 248, 255, 1);
  width: 1559px;
  height: 64px;
  margin: 40px 0 0 181px;
}

.text_21 {
  width: 40px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 32px;
}

.text_22 {
  width: 60px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 26px;
}

.text_23 {
  width: 40px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 211px;
}

.image-text_12 {
  width: 94px;
  height: 24px;
  margin: 20px 0 0 133px;
}

.text-group_1 {
  width: 80px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
}

.thumbnail_2 {
  width: 12px;
  height: 12px;
  margin-top: 6px;
}

.text_24 {
  width: 100px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 134px;
}

.text_25 {
  width: 100px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 133px;
}

.text_26 {
  width: 80px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 134px;
}

.text_27 {
  width: 80px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 29px 0 133px;
}

.block_22 {
  width: 1479px;
  height: 36px;
  margin: 41px 0 0 213px;
}

.text_28 {
  width: 22px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(200, 40, 36, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 6px;
}

.text_29 {
  width: 100px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 44px;
}

.text-wrapper_4 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 36px;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 13px;
  width: 58px;
}

.text_30 {
  width: 36px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin: 6px 0 0 11px;
}

.text_31 {
  width: 40px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 100px;
}

.text_32 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 146px;
}

.text_33 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 192px;
}

.text_34 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 193px;
}

.text_35 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 184px;
}

.text_36 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 173px;
}

.box_14 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 48px 0 0 180px;
}

.block_23 {
  width: 1480px;
  height: 36px;
  margin: 32px 0 0 212px;
}

.text_37 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(210, 118, 33, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 4px;
}

.text_38 {
  width: 100px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 43px;
}

.text-wrapper_5 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 36px;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 13px;
  width: 58px;
}

.text_39 {
  width: 36px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin: 6px 0 0 11px;
}

.text_40 {
  width: 40px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 100px;
}

.text_41 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 146px;
}

.text_42 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 190px;
}

.text_43 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 193px;
}

.text_44 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 186px;
}

.text_45 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 4px 0 0 173px;
}

.box_16 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 32px 0 0 180px;
}

.block_24 {
  width: 1478px;
  height: 28px;
  margin: 38px 0 0 212px;
}

.text_46 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(242, 187, 34, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.text_47 {
  width: 85px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 44px;
}

.text-wrapper_6 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 28px;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 10px;
  width: 46px;
}

.text_48 {
  width: 18px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin: 5px 0 0 14px;
}

.text_49 {
  width: 18px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 140px;
}

.text_50 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 157px;
}

.text_51 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 190px;
}

.text_52 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 193px;
}

.text_53 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 184px;
}

.text_54 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 173px;
}

.box_18 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 36px 0 0 180px;
}

.block_25 {
  width: 1480px;
  height: 29px;
  margin: 35px 0 0 212px;
}

.text_55 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 1px;
}

.text_56 {
  width: 109px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 43px;
}

.text-wrapper_7 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 28px;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 6px;
  width: 46px;
}

.text_57 {
  width: 18px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin: 5px 0 0 14px;
}

.text_58 {
  width: 18px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 121px;
}

.text_59 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 157px;
}

.text_60 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 192px;
}

.text_61 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 193px;
}

.text_62 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 182px;
}

.text_63 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 171px;
}

.box_20 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 36px 0 0 180px;
}

.block_26 {
  width: 1478px;
  height: 30px;
  margin: 36px 0 0 212px;
}

.text_64 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 2px;
}

.text_65 {
  width: 122px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 43px;
}

.text-wrapper_8 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 28px;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 8px;
  width: 46px;
}

.text_66 {
  width: 18px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin: 5px 0 0 14px;
}

.text_67 {
  width: 18px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 106px;
}

.text_68 {
  width: 46px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 161px;
}

.text_69 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 194px;
}

.text_70 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 191px;
}

.text_71 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 182px;
}

.text_72 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 173px;
}

.box_22 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 36px 0 0 180px;
}

.block_27 {
  width: 1480px;
  height: 36px;
  margin: 31px 0 0 212px;
}

.text_73 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 6px;
}

.text_74 {
  width: 100px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 43px;
}

.text-wrapper_9 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 36px;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 13px;
  width: 58px;
}

.text_75 {
  width: 36px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  margin: 6px 0 0 11px;
}

.text_76 {
  width: 40px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 100px;
}

.text_77 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 146px;
}

.text_78 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 190px;
}

.text_79 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 191px;
}

.text_80 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 182px;
}

.text_81 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 6px 0 0 171px;
}

.box_24 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 34px 0 0 180px;
}

.block_28 {
  width: 1478px;
  height: 30px;
  margin: 36px 0 0 212px;
}

.text_82 {
  width: 24px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 2px;
}

.text_83 {
  width: 149px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 43px;
}

.text-wrapper_10 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 28px;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 4px;
  width: 46px;
}

.text_84 {
  width: 18px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin: 5px 0 0 14px;
}

.text_85 {
  width: 18px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 83px;
}

.text_86 {
  width: 54px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 157px;
}

.text_87 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 190px;
}

.text_88 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 191px;
}

.text_89 {
  width: 42px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 182px;
}

.text_90 {
  width: 38px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 2px 0 0 173px;
}

.box_26 {
  background-color: rgba(231, 233, 249, 1);
  width: 1560px;
  height: 1px;
  margin: 36px 0 0 180px;
}

.block_29 {
  width: 1064px;
  height: 37px;
  margin: 99px 0 0 329px;
}

.text_91 {
  width: 28px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 28px;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 5px;
}

.text-wrapper_11 {
  width: 208px;
  height: 37px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
  margin-left: 8px;
}

.text_92 {
  width: 208px;
  height: 37px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 26px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
}

.text_93 {
  width: 208px;
  height: 37px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
}

.text_94 {
  width: 28px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 28px;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 5px 0 0 572px;
}

.text_95 {
  width: 208px;
  height: 37px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
  margin-left: 12px;
}

.block_30 {
  width: 1493px;
  height: 435px;
  margin: 46px 0 0 206px;
}

.text-wrapper_28 {
  width: 86px;
  height: 187px;
  margin-top: 77px;
}

.text_96 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 44px;
}

.text_97 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 147px;
}

.text_98 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 381px 0 0 22px;
}

.text_99 {
  width: 70px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 46px;
}

.text_100 {
  width: 70px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 381px 0 0 31px;
}

.text-wrapper_29 {
  width: 107px;
  height: 184px;
  margin: 75px 0 0 9px;
}

.text_101 {
  width: 70px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.text_102 {
  width: 70px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 144px 0 0 37px;
}

.paragraph_3 {
  width: 37px;
  height: 417px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  line-height: 37px;
  margin: 13px 0 0 136px;
}

.block_31 {
  width: 810px;
  height: 405px;
  margin: 30px 0 0 13px;
}

.group_3 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
}

.group_4 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_5 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 36px;
}

.group_6 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_7 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_8 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_9 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 36px;
}

.group_10 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_11 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.group_12 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 36px;
}

.group_13 {
  background-color: rgba(231, 233, 249, 1);
  width: 810px;
  height: 1px;
  margin-top: 37px;
}

.text-wrapper_30 {
  width: 688px;
  height: 20px;
  margin: 7px 0 0 64px;
}

.text_103 {
  width: 70px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.text_104 {
  width: 98px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 119px;
}

.text_105 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 127px;
}

.text_106 {
  width: 84px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-left: 134px;
}

.block_32 {
  width: 1366px;
  height: 22px;
  margin: 30px 0 0 182px;
}

.image-text_13 {
  width: 112px;
  height: 22px;
}

.image_12 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text_107 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_14 {
  width: 95px;
  height: 22px;
  margin-left: 42px;
}

.image_13 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text_108 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_15 {
  width: 111px;
  height: 22px;
  margin-left: 42px;
}

.image_14 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text_109 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_16 {
  width: 112px;
  height: 22px;
  margin-left: 43px;
}

.image_15 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text_110 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.group_18 {
  background-color: rgba(108, 127, 255, 1);
  width: 24px;
  height: 3px;
  margin: 9px 0 0 252px;
}

.text_111 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 8px;
}

.group_19 {
  background-color: rgba(220, 124, 122, 1);
  width: 24px;
  height: 3px;
  margin: 9px 0 0 42px;
}

.text_112 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 7px;
}

.group_20 {
  background-color: rgba(104, 192, 255, 1);
  width: 24px;
  height: 3px;
  margin: 9px 0 0 43px;
}

.text_113 {
  width: 63px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 7px;
}

.group_21 {
  background-color: rgba(182, 189, 203, 1);
  width: 24px;
  height: 3px;
  margin: 9px 0 0 43px;
}

.text_114 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 8px;
}

.text-wrapper_31 {
  width: 503px;
  height: 37px;
  margin: 124px 0 0 709px;
}

.text_115 {
  width: 28px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 28px;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 5px;
}

.text_116 {
  width: 467px;
  height: 37px;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 26px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 37px;
}

.block_33 {
  width: 1557px;
  height: 415px;
  margin: 55px 0 0 182px;
}

.text_117 {
  width: 22px;
  height: 108px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 22px;
  margin-top: 52px;
}

.paragraph_4 {
  width: 26px;
  height: 401px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 66px;
  margin-left: 11px;
}

.group_35 {
  width: 1490px;
  height: 384px;
  margin: 31px 0 0 8px;
}

.box_32 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
}

.block_2 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 66px;
}

.box_39 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 66px;
}

.box_41 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 66px;
}

.box_42 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 66px;
}

.box_43 {
  background-color: rgba(231, 233, 249, 1);
  width: 1490px;
  height: 1px;
  margin-top: 66px;
}

.text-wrapper_32 {
  width: 1313px;
  height: 22px;
  margin: 26px 0 0 61px;
}

.text_118 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
}

.text_119 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 352px;
}

.text_120 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 353px;
}

.text_121 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin-left: 352px;
}

.block_34 {
  width: 597px;
  height: 22px;
  margin: 55px 0 131px 662px;
}

.image-text_17 {
  width: 112px;
  height: 22px;
}

.image_2 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text-group_2 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_18 {
  width: 111px;
  height: 22px;
  margin-left: 37px;
}

.image_3 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text-group_3 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_19 {
  width: 151px;
  height: 22px;
  margin-left: 37px;
}

.image_4 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text-group_4 {
  width: 120px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image-text_20 {
  width: 112px;
  height: 22px;
  margin-left: 37px;
}

.image_5 {
  width: 24px;
  height: 10px;
  margin-top: 6px;
}

.text-group_5 {
  width: 80px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image_16 {
  position: absolute;
  left: 334px;
  top: 499px;
  width: 1261px;
  height: 286px;
}

.image_17 {
  position: absolute;
  left: 276px;
  top: 2175px;
  width: 349px;
  height: 340px;
}

.image_18 {
  position: absolute;
  left: 957px;
  top: 2200px;
  width: 673px;
  height: 352px;
}

.image_19 {
  position: absolute;
  left: 336px;
  top: 2894px;
  width: 1261px;
  height: 186px;
}
