.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 214.48vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 4.07vw;
}

.box_33 {
  width: 37.66vw;
  height: 1.72vw;
  margin: 15.93vw 0 0 9.79vw;
}

.image-text_21 {
  width: 11.2vw;
  height: 1.72vw;
}

.label_1 {
  width: 1.46vw;
  height: 1.46vw;
  margin-top: 0.27vw;
}

.text-group_1 {
  width: 9.12vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
}

.text_1 {
  width: 7.09vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-left: 5.16vw;
}

.text_2 {
  width: 10.11vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-left: 4.12vw;
}

.box_3 {
  background-color: rgba(231, 233, 249, 1);
  height: 0.16vw;
  width: 81.25vw;
  margin: 0.88vw 0 0 9.37vw;
}

.box_4 {
  background-color: rgba(86, 107, 255, 1);
  width: 11.46vw;
  height: 0.16vw;
}

.text-wrapper_46 {
  width: 7.3vw;
  height: 1.93vw;
  margin: 3.54vw 0 0 10.62vw;
}

.text_3 {
  width: 1.46vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.45vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.27vw;
}

.text_4 {
  width: 5.42vw;
  height: 1.93vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.93vw;
}

.group_2 {
  background-color: rgba(250, 251, 255, 1);
  border-radius: 6px;
  width: 78.55vw;
  height: 35vw;
  margin: 1.4vw 0 0 10.83vw;
}

.box_8 {
  border-radius: 2px;
  background-image: url(./img/3b9a92a2401c4e6ebca4cca4b31967f1_mergeImage.png);
  width: 27.04vw;
  height: 16.72vw;
  margin: 1.51vw 0 0 25.67vw;
  background-size: cover;
}

.block_20 {
  width: 74.85vw;
  height: 13.44vw;
  margin: 0.67vw 0 1.77vw 1.4vw;
}

.text-group_2 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
}

.text_6 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_7 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_8 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_9 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_1 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_10 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_2 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_3 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_11 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_3 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
}

.text_15 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_6 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_7 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_16 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_47 {
  width: 7.3vw;
  height: 1.93vw;
  margin: 3.54vw 0 0 10.62vw;
}

.text_56 {
  width: 1.46vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.45vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.27vw;
}

.text_57 {
  width: 5.42vw;
  height: 1.93vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.93vw;
}

.section_17 {
  background-color: rgba(250, 251, 255, 1);
  border-radius: 6px;
  width: 78.55vw;
  height: 32.3vw;
  margin: 1.4vw 0 0 10.83vw;
}

.group_22 {
  border-radius: 2px;
  background-image: url(./img/6bd73c9f510d4546a282cde68727d33b_mergeImage.png);
  width: 27.04vw;
  height: 16.72vw;
  margin: 1.51vw 0 0 25.67vw;
}

.box_34 {
  width: 63.08vw;
  height: 13.39vw;
  margin: 0.67vw 0 0 1.4vw;
}

.text-wrapper_26 {
  width: 34.12vw;
  height: 13.39vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
}

.text_58 {
  width: 34.12vw;
  height: 13.39vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_14 {
  width: 34.12vw;
  height: 13.39vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_59 {
  width: 34.12vw;
  height: 13.39vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_15 {
  width: 34.12vw;
  height: 13.39vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_27 {
  width: 22.35vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
}

.text_60 {
  width: 22.35vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_16 {
  width: 22.35vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_61 {
  width: 22.35vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_17 {
  width: 22.35vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_48 {
  width: 7.3vw;
  height: 1.93vw;
  margin: 3.59vw 0 0 10.62vw;
}

.text_62 {
  width: 1.46vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.45vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 0.27vw;
}

.text_63 {
  width: 5.42vw;
  height: 1.93vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.93vw;
}

.box_35 {
  width: 78.55vw;
  height: 33.08vw;
  margin: 1.4vw 0 0 10.83vw;
}

.group_24 {
  background-color: rgba(250, 251, 255, 1);
  border-radius: 6px;
  width: 38.03vw;
  height: 33.08vw;
}

.section_19 {
  border-radius: 2px;
  background-image: url(./img/83ffb6b716d0447fb5bdb5a22615b7ff_mergeImage.png);
  width: 20.11vw;
  height: 14.48vw;
  margin: 1.51vw 0 0 1.25vw;
}

.text-wrapper_29 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
  margin: 1.45vw 0 2.18vw 1.4vw;
}

.text_64 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_18 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_65 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_19 {
  width: 34.12vw;
  height: 13.44vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.group_25 {
  background-color: rgba(250, 251, 255, 1);
  border-radius: 6px;
  width: 38.03vw;
  height: 33.08vw;
}

.block_15 {
  border-radius: 2px;
  background-image: url(./img/9106786ce07a425ca859af3b7fc18f14_mergeImage.png);
  width: 34.95vw;
  height: 13.55vw;
  margin: 1.51vw 0 0 1.61vw;
}

.text-wrapper_30 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Consolas;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.88vw;
  margin: 2.39vw 0 2.29vw 1.61vw;
}

.text_66 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_20 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text_67 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(231, 42, 42, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.paragraph_21 {
  width: 34.12vw;
  height: 13.34vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.14vw;
  font-family: Consolas;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_49 {
  width: 10.79vw;
  height: 2.35vw;
  margin: 5vw 0 0 44.79vw;
}

.text_54 {
  width: 1.67vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.19vw;
  margin-top: 0.11vw;
}

.text-wrapper_8 {
  width: 8.7vw;
  height: 2.35vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 2.35vw;
}

.text-group_13 {
  width: 78.65vw;
  height: 6.67vw;
  margin: 2.44vw 0 55.1vw 10.83vw;
}

.text-wrapper_9 {
  width: 53.55vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_30 {
  width: 53.55vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_31 {
  width: 53.55vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text-wrapper_10 {
  width: 78.65vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}

.text_32 {
  width: 78.65vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.88vw;
}

.text_33 {
  width: 78.65vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.box_26 {
  height: 16.46vw;
  background: url(./img/SketchPngd6408ff75518de65f350b703d53722c81a778dfc600736ab4cda372f7ec2bc0c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.group_27 {
  width: 82.45vw;
  height: 2.09vw;
  margin: 0.93vw 0 0 1.45vw;
}

.image_7 {
  width: 2.71vw;
  height: 2.09vw;
}

.text_46 {
  width: 8.03vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.25vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin: 0.41vw 0 0 0.31vw;
}

.group_12 {
  background-color: rgba(244, 245, 255, 1);
  border-radius: 6px;
  width: 18.75vw;
  height: 2.09vw;
  margin-left: 2.19vw;
}

.thumbnail_1 {
  width: 0.79vw;
  height: 0.79vw;
  margin: 0.67vw 0 0 0.57vw;
}

.text_47 {
  width: 10.47vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(187, 186, 204, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 6.51vw 0 0.41vw;
}

.text_48 {
  width: 3.18vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 5.31vw;
}

.text_49 {
  width: 4.8vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 4.27vw;
}

.text_50 {
  width: 10.27vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 4.37vw;
}

.text_51 {
  width: 3.91vw;
  height: 1.57vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.57vw;
  margin: 0.31vw 0 0 14.37vw;
}

.group_13 {
  background-color: rgba(119, 137, 255, 1);
  width: 0.06vw;
  height: 0.94vw;
  margin: 0.62vw 2.5vw 0 -2.55vw;
}

.text-wrapper_50 {
  width: 12.24vw;
  height: 3.13vw;
  margin: 2.96vw 0 0 43.9vw;
}

.text_52 {
  width: 12.24vw;
  height: 3.13vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.91vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.13vw;
}

.text-wrapper_51 {
  width: 25.63vw;
  height: 3.13vw;
  margin: 0.98vw 0 3.22vw 37.18vw;
}

.text_53 {
  width: 25.63vw;
  height: 3.13vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.35vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 3.13vw;
}
