html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 51.2rem;
  height: 89.6rem;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 51.2rem;
  height: 2.08rem;
}

.image_1 {
  width: 1.387rem;
  height: 1.067rem;
  margin: 0.48rem 0 0 0.747rem;
}

.text_1 {
  width: 4.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.694rem 0 0 0.16rem;
}

.group_2 {
  background-color: rgba(244, 245, 255, 1);
  border-radius: 6px;
  width: 9.6rem;
  height: 1.067rem;
  margin: 0.48rem 0 0 1.12rem;
}

.thumbnail_1 {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.347rem 0 0 0.294rem;
}

.text_2 {
  width: 5.36rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(187, 186, 204, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.214rem 3.334rem 0 0.214rem;
}

.text_3 {
  width: 1.627rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.64rem 0 0 2.72rem;
}

.text_4 {
  width: 2.454rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.64rem 0 0 2.187rem;
}

.text_5 {
  width: 5.254rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.64rem 0 0 2.24rem;
}

.text_6 {
  width: 2rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.64rem 8.24rem 0 7.36rem;
}

.group_3 {
  background-color: rgba(119, 137, 255, 1);
  position: absolute;
  left: 41.654rem;
  top: 0.8rem;
  width: 0.027rem;
  height: 0.48rem;
}

.block_48 {
  position: relative;
  width: 51.2rem;
  height: 87.547rem;
  margin-bottom: 0.027rem;
}

.paragraph_1 {
  width: 41.894rem;
  height: 3.227rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 1.493rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.6rem;
  margin: 3.227rem 0 0 4.8rem;
}

.text-wrapper_22 {
  width: 18.507rem;
  height: 0.88rem;
  margin: 2.56rem 0 0 6.08rem;
}

.text_8 {
  width: 4.587rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
}

.text_7 {
  width: 3.627rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: 2.427rem;
}

.text_9 {
  width: 5.28rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(67, 85, 204, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: 2.587rem;
}

.box_1 {
  background-color: rgba(231, 233, 249, 1);
  height: 0.08rem;
  width: 41.6rem;
  margin: 0.454rem 0 0 4.8rem;
}

.group_5 {
  background-color: rgba(86, 107, 255, 1);
  width: 5.28rem;
  height: 0.08rem;
  margin-left: 14.454rem;
}

.group_31 {
  width: 41.52rem;
  height: 14.027rem;
  margin: 0.96rem 0 0 4.8rem;
}

.text_10 {
  width: 0.587rem;
  height: 2.88rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.587rem;
  margin-top: 4.347rem;
}

.paragraph_2 {
  width: 0.694rem;
  height: 13.894rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 2.294rem;
  margin-left: 0.294rem;
}

.box_41 {
  width: 39.734rem;
  height: 12.907rem;
  margin: 1.12rem 0 0 0.214rem;
}

.block_1 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
}

.block_2 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
  margin-top: 2.294rem;
}

.block_3 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
  margin-top: 2.294rem;
}

.block_4 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
  margin-top: 2.294rem;
}

.block_5 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
  margin-top: 2.294rem;
}

.block_6 {
  background-color: rgba(231, 233, 249, 1);
  width: 39.734rem;
  height: 0.027rem;
  margin-top: 2.294rem;
}

.text-wrapper_23 {
  width: 36.427rem;
  height: 0.587rem;
  margin: 0.694rem 0 0 1.414rem;
}

.text_11 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_12 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 4.64rem;
}

.text_13 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 4.64rem;
}

.text_14 {
  width: 2.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 4.64rem;
}

.text_15 {
  width: 1.44rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 4.64rem;
}

.text_16 {
  width: 2.72rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 4.64rem;
}

.group_32 {
  width: 6.614rem;
  height: 0.8rem;
  margin: 1.12rem 0 0 22.267rem;
}

.group_6 {
  background-color: rgba(177, 187, 255, 1);
  width: 0.64rem;
  height: 0.08rem;
  margin-top: 0.4rem;
}

.text_17 {
  width: 5.867rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
}

.text-wrapper_24 {
  width: 5.12rem;
  height: 0.987rem;
  margin: 1.547rem 0 0 4.827rem;
}

.text_18 {
  width: 0.747rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.746rem;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.134rem;
}

.text_19 {
  width: 4.16rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.693rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
}

.box_5 {
  background-color: rgba(247, 248, 255, 1);
  position: relative;
  width: 41.574rem;
  height: 2.827rem;
  margin: 1.547rem 0 0 4.827rem;
}

.text_20 {
  width: 1.067rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 1.04rem 0 0 0.854rem;
}

.text_21 {
  width: 1.6rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 1.04rem 0 0 0.694rem;
}

.text_22 {
  width: 1.067rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 1.04rem 0 0 4.747rem;
}

.image-text_16 {
  width: 2.507rem;
  height: 0.64rem;
  margin: 1.094rem 0 0 1.68rem;
}

.text-group_1 {
  width: 2.134rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
}

.thumbnail_2 {
  width: 0.32rem;
  height: 0.32rem;
  margin-top: 0.187rem;
}

.image_2 {
  width: 26.587rem;
  height: 0.027rem;
  margin: 1.414rem 0 0 0.774rem;
}

.section_1 {
  background-color: rgba(221, 223, 241, 1);
  width: 0.027rem;
  height: 2.827rem;
  margin-left: -26.586rem;
}

.text_23 {
  width: 1.44rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 1.067rem;
}

.text_24 {
  width: 1.44rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 1.814rem;
}

.text_25 {
  width: 3.2rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.347rem 0 0 -0.72rem;
}

.text_26 {
  width: 1.92rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 -0.907rem;
}

.text_27 {
  width: 1.92rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 1.334rem;
}

.text_28 {
  width: 1.44rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 1.814rem;
}

.text_29 {
  width: 1.44rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 1.814rem;
}

.text_30 {
  width: 3.2rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.347rem 0 0 -0.72rem;
}

.text_31 {
  width: 1.92rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0 0 -0.907rem;
}

.text_32 {
  width: 1.92rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 1.814rem 0.8rem 0 1.334rem;
}

.section_2 {
  background-color: rgba(233, 235, 249, 1);
  position: absolute;
  left: 28.507rem;
  top: 0;
  width: 0.054rem;
  height: 2.827rem;
}

.group_33 {
  width: 39.947rem;
  height: 0.96rem;
  margin: 1.094rem 0 0 5.68rem;
}

.text_33 {
  width: 0.587rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(200, 40, 36, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.16rem;
}

.text_34 {
  width: 2.667rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 1.174rem;
}

.text-wrapper_4 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 0.294rem;
  width: 1.547rem;
}

.text_35 {
  width: 0.96rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.16rem 0 0 0.294rem;
}

.text_36 {
  width: 1.067rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 1.84rem;
}

.text_37 {
  width: 1.44rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.027rem;
}

.text_38 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.8rem;
}

.text_39 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.187rem;
}

.text_40 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.134rem;
}

.text_41 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.134rem;
}

.text_42 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.374rem;
}

.text_43 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.56rem;
}

.text_44 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.134rem;
}

.text_45 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.134rem;
}

.box_7 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 1.28rem 0 0 4.8rem;
}

.group_34 {
  width: 39.974rem;
  height: 0.96rem;
  margin: 0.854rem 0 0 5.654rem;
}

.text_46 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(210, 118, 33, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.107rem;
}

.text_47 {
  width: 2.667rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 1.147rem;
}

.text-wrapper_5 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 0.294rem;
  width: 1.547rem;
}

.text_48 {
  width: 0.96rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.16rem 0 0 0.294rem;
}

.text_49 {
  width: 1.067rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 1.84rem;
}

.text_50 {
  width: 1.44rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.027rem;
}

.text_51 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.747rem;
}

.text_52 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.134rem;
}

.text_53 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.134rem;
}

.text_54 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.134rem;
}

.text_55 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.374rem;
}

.text_56 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.56rem;
}

.text_57 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.134rem;
}

.text_58 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.107rem 0 0 2.134rem;
}

.box_9 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 0.854rem 0 0 4.8rem;
}

.group_35 {
  width: 39.974rem;
  height: 0.96rem;
  margin: 0.854rem 0 0 5.654rem;
}

.text_59 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 187, 34, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.16rem;
}

.text_60 {
  width: 2.667rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 1.174rem;
}

.text-wrapper_6 {
  background-color: rgba(245, 243, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  border: 1px solid rgba(241, 238, 254, 1);
  margin-left: 0.267rem;
  width: 1.547rem;
}

.text_61 {
  width: 0.96rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(100, 57, 198, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.16rem 0 0 0.294rem;
}

.text_62 {
  width: 1.067rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 1.84rem;
}

.text_63 {
  width: 1.387rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.054rem;
}

.text_64 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.774rem;
}

.text_65 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.187rem;
}

.text_66 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.187rem;
}

.text_67 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.134rem;
}

.text_68 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.374rem;
}

.text_69 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.56rem;
}

.text_70 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.187rem;
}

.text_71 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.16rem 0 0 2.187rem;
}

.box_11 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 0.907rem 0 0 4.8rem;
}

.group_36 {
  width: 39.974rem;
  height: 0.774rem;
  margin: 0.934rem 0 0 5.654rem;
}

.text_72 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.027rem;
}

.text_73 {
  width: 3.334rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 1.147rem;
}

.text-wrapper_7 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 0.747rem;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 0.24rem;
  width: 1.227rem;
}

.text_74 {
  width: 0.48rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.134rem 0 0 0.374rem;
}

.text_75 {
  width: 0.48rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 1.84rem;
}

.text_76 {
  width: 1.334rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.374rem;
}

.text_77 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.8rem;
}

.text_78 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.187rem;
}

.text_79 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.187rem;
}

.text_80 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.134rem;
}

.text_81 {
  width: 0.907rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.48rem;
}

.text_82 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.72rem;
}

.text_83 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.187rem;
}

.text_84 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 2.134rem;
}

.box_13 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 0.96rem 0 0 4.8rem;
}

.group_37 {
  width: 39.974rem;
  height: 0.8rem;
  margin: 0.96rem 0 0 5.654rem;
}

.text_85 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.054rem;
}

.text_86 {
  width: 1.76rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 1.147rem;
}

.text-wrapper_8 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 0.747rem;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 0.294rem;
  width: 1.227rem;
}

.text_87 {
  width: 0.48rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.134rem 0 0 0.374rem;
}

.text_88 {
  width: 0.48rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 3.36rem;
}

.text_89 {
  width: 1.44rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.32rem;
}

.text_90 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.747rem;
}

.text_91 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.187rem;
}

.text_92 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.187rem;
}

.text_93 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.187rem;
}

.text_94 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.427rem;
}

.text_95 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.56rem;
}

.text_96 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.187rem;
}

.text_97 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.054rem 0 0 2.187rem;
}

.box_15 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 0.96rem 0 0 4.8rem;
}

.group_38 {
  width: 39.974rem;
  height: 0.747rem;
  margin: 1.014rem 0 0 5.654rem;
}

.text_98 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_99 {
  width: 3.414rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 1.174rem;
}

.text-wrapper_9 {
  background-color: rgba(239, 246, 255, 1);
  border-radius: 6px;
  height: 0.747rem;
  border: 1px solid rgba(223, 236, 254, 1);
  margin-left: 0.294rem;
  width: 1.227rem;
}

.text_100 {
  width: 0.48rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(34, 66, 176, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.134rem 0 0 0.374rem;
}

.text_101 {
  width: 0.48rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 1.68rem;
}

.text_102 {
  width: 1.44rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.32rem;
}

.text_103 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.747rem;
}

.text_104 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.134rem;
}

.text_105 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.134rem;
}

.text_106 {
  width: 1.014rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.187rem;
}

.text_107 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.427rem;
}

.text_108 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.56rem;
}

.text_109 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.134rem;
}

.text_110 {
  width: 1.12rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 2.134rem;
}

.box_17 {
  background-color: rgba(231, 233, 249, 1);
  width: 41.6rem;
  height: 0.027rem;
  margin: 0.96rem 0 0 4.8rem;
}

.group_39 {
  width: 27.12rem;
  height: 0.987rem;
  margin: 3.067rem 0 0 8.72rem;
}

.text_111 {
  width: 0.747rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.746rem;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.134rem;
}

.text-wrapper_10 {
  width: 5.547rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
  margin-left: 0.214rem;
}

.text_112 {
  width: 5.547rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.693rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
}

.text_113 {
  width: 5.547rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.693rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
}

.text_114 {
  width: 0.747rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.746rem;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.134rem 0 0 15.387rem;
}

.text_115 {
  width: 4.16rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 28, 1);
  font-size: 0.693rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
  margin-left: 0.32rem;
}

.group_40 {
  width: 41.014rem;
  height: 11.894rem;
  margin: 1.227rem 0 0 4.294rem;
}

.text_117 {
  width: 2.614rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 5.28rem;
}

.group_41 {
  width: 9.52rem;
  height: 11.12rem;
  margin-left: 0.294rem;
}

.text_119 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-left: 4.027rem;
}

.box_30 {
  height: 9.52rem;
  background: url(./img/SketchPng317323a515d8e6555e2a7bc9ace08287142f854ccddfe65685c1d38da38622cd.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.267rem;
  width: 9.52rem;
}

.group_24 {
  height: 7.814rem;
  background: url(./img/SketchPngf37fffb9dd7beb4c8134bc5cc82264aa038bce562fd4fb2b71f2d08f4b868e40.png) -0.054rem -0.054rem
    no-repeat;
  background-size: 8.427rem 7.92rem;
  width: 8.32rem;
  margin: 0.854rem 0 0 0.694rem;
}

.section_3 {
  height: 7.44rem;
  background: url(./img/SketchPngb3de54a705f05a5b12f5460acc5551b285f139bf7198853472e8b3658fbe0e64.png)
    0rem 0rem no-repeat;
  background-size: 7.334rem 7.44rem;
  width: 7.307rem;
  position: relative;
  margin: 0.16rem 0 0 0.24rem;
}

.box_42 {
  width: 0.16rem;
  height: 0.16rem;
  margin-left: 3.76rem;
}

.block_22 {
  background-color: rgba(104, 192, 255, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: -0.054rem 0 0 -0.054rem;
}

.box_43 {
  width: 7.307rem;
  height: 3.867rem;
  margin-top: 1.147rem;
  justify-content: flex-center;
}

.box_32 {
  background-color: rgba(104, 192, 255, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: 2.32rem 0 0 -0.054rem;
}

.box_33 {
  position: relative;
  width: 5.574rem;
  height: 3.867rem;
  background: url(./img/SketchPng112c72d5b0a9d28d4496bf5775553c6432e505b80891047ca98f6938225fe32d.png) -0.054rem -0.054rem
    no-repeat;
  background-size: 5.68rem 3.947rem;
  margin-left: 1.04rem;
}

.block_24 {
  background-color: rgba(220, 124, 122, 1);
  border-radius: 50%;
  position: absolute;
  left: 2.507rem;
  top: 3.734rem;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
}

.block_25 {
  background-color: rgba(220, 124, 122, 1);
  border-radius: 50%;
  position: absolute;
  left: 5.494rem;
  top: 2.374rem;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
}

.block_26 {
  background-color: rgba(220, 124, 122, 1);
  border-radius: 50%;
  position: absolute;
  left: -0.08rem;
  top: 2.374rem;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
}

.block_27 {
  background-color: rgba(220, 124, 122, 1);
  border-radius: 50%;
  position: absolute;
  left: 2.507rem;
  top: -0.08rem;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
}

.box_34 {
  background-color: rgba(104, 192, 255, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: 2.32rem -0.054rem 0 0.267rem;
}

.box_44 {
  width: 0.16rem;
  height: 0.16rem;
  margin: 2.107rem 0 0 3.76rem;
}

.group_25 {
  background-color: rgba(104, 192, 255, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: -0.054rem 0 0 -0.054rem;
}

.block_29 {
  height: 3.76rem;
  background: url(./img/SketchPng2ddcd4f6cbbd4f44ac1258450befcbaad5a9ad7914b32bfd3687a94729db514b.png) -0.054rem -0.027rem
    no-repeat;
  background-size: 5.6rem 3.84rem;
  width: 5.494rem;
  position: absolute;
  left: 1.334rem;
  top: 1.6rem;
}

.box_45 {
  width: 0.16rem;
  height: 0.16rem;
  margin-left: 2.427rem;
}

.box_35 {
  background-color: rgba(182, 189, 203, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: -0.054rem 0 0 -0.054rem;
}

.box_46 {
  width: 5.494rem;
  height: 0.16rem;
  margin: 1.92rem 0 1.52rem 0;
}

.box_36 {
  background-color: rgba(182, 189, 203, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: -0.054rem 0 0 -0.054rem;
}

.box_37 {
  background-color: rgba(182, 189, 203, 1);
  border-radius: 50%;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: -0.054rem -0.054rem 0 0;
}

.section_6 {
  background-color: rgba(182, 189, 203, 1);
  border-radius: 50%;
  position: absolute;
  left: 2.427rem;
  top: 3.68rem;
  width: 0.267rem;
  height: 0.267rem;
  border: 2px solid rgba(255, 255, 255, 1);
}

.text_127 {
  width: 2.614rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.267rem 0 0 3.467rem;
}

.text_128 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 5.28rem 0 0 0.854rem;
}

.paragraph_3 {
  width: 0.987rem;
  height: 11.12rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  line-height: 0.987rem;
  margin: 0.08rem 0 0 2.054rem;
}

.group_42 {
  width: 22.987rem;
  height: 11.36rem;
  margin: 0.534rem 0 0 0.214rem;
}

.block_7 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
}

.block_8 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_9 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.96rem;
}

.block_10 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_11 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_12 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_13 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.96rem;
}

.block_14 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_15 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.block_16 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.96rem;
}

.block_17 {
  background-color: rgba(231, 233, 249, 1);
  width: 22.987rem;
  height: 0.027rem;
  margin-top: 0.987rem;
}

.text-wrapper_25 {
  width: 22.774rem;
  height: 1.094rem;
  margin: 0.187rem 0 0 0.187rem;
}

.paragraph_4 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
}

.paragraph_5 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_6 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_7 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_8 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_9 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_10 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.paragraph_11 {
  width: 2.24rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.534rem;
  margin-left: 0.694rem;
}

.group_43 {
  width: 36.32rem;
  height: 0.587rem;
  margin: 0.507rem 0 18.054rem 4.614rem;
}

.image-text_17 {
  width: 2.987rem;
  height: 0.587rem;
}

.image_3 {
  width: 0.64rem;
  height: 0.267rem;
  margin-top: 0.16rem;
}

.text-group_2 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.image-text_18 {
  width: 2.96rem;
  height: 0.587rem;
  margin-left: 0.8rem;
}

.image_4 {
  width: 0.64rem;
  height: 0.267rem;
  margin-top: 0.16rem;
}

.text-group_3 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.image-text_19 {
  width: 3.494rem;
  height: 0.587rem;
  margin-left: 0.827rem;
}

.image_5 {
  width: 0.64rem;
  height: 0.267rem;
  margin-top: 0.16rem;
}

.text-group_4 {
  width: 2.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.image-text_20 {
  width: 2.267rem;
  height: 0.587rem;
  margin-left: 0.8rem;
}

.image_6 {
  width: 0.64rem;
  height: 0.267rem;
  margin-top: 0.16rem;
}

.text-group_5 {
  width: 1.414rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.group_7 {
  background-color: rgba(108, 127, 255, 1);
  width: 0.64rem;
  height: 0.08rem;
  margin: 0.24rem 0 0 6.747rem;
}

.text_123 {
  width: 2.134rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 0.214rem;
}

.group_8 {
  background-color: rgba(104, 192, 255, 1);
  width: 0.64rem;
  height: 0.08rem;
  margin: 0.24rem 0 0 1.04rem;
}

.text_124 {
  width: 2.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 0.187rem;
}

.group_9 {
  background-color: rgba(220, 124, 122, 1);
  width: 0.64rem;
  height: 0.08rem;
  margin: 0.24rem 0 0 1.067rem;
}

.text_125 {
  width: 1.414rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 0.214rem;
}

.group_10 {
  background-color: rgba(182, 189, 203, 1);
  width: 0.64rem;
  height: 0.08rem;
  margin: 0.24rem 0 0 1.014rem;
}

.text_126 {
  width: 2.72rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 103, 127, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 0.214rem;
}

.box_22 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 22.427rem;
  top: 26.827rem;
  width: 0.32rem;
  height: 0.32rem;
}

.box_23 {
  height: 4.72rem;
  background: url(./img/SketchPng925c403f10c9abfe682c38b2aaeab03412ad76949d958c82cc595017d72a898f.png)
    0rem -0.054rem no-repeat;
  background-size: 34.027rem 4.827rem;
  width: 34rem;
  position: absolute;
  left: 9.067rem;
  top: 14.16rem;
}

.group_44 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 1.067rem 0 0 13.387rem;
}

.block_18 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  width: 0.32rem;
  height: 0.32rem;
}

.group_45 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 2.747rem 0 0.267rem 20.427rem;
}

.group_11 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  width: 0.32rem;
  height: 0.32rem;
}

.box_26 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: -0.16rem;
  top: -0.16rem;
  width: 0.32rem;
  height: 0.32rem;
}

.box_27 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 6.614rem;
  top: -0.133rem;
  width: 0.32rem;
  height: 0.32rem;
}

.box_28 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 27.12rem;
  top: 4.454rem;
  width: 0.32rem;
  height: 0.32rem;
}

.box_29 {
  background-color: rgba(108, 127, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 33.84rem;
  top: 4.56rem;
  width: 0.32rem;
  height: 0.32rem;
}

.image_8 {
  position: absolute;
  left: 28.64rem;
  top: 59.867rem;
  width: 1.68rem;
  height: 7.227rem;
}

.image_9 {
  position: absolute;
  left: 25.707rem;
  top: 59.867rem;
  width: 1.68rem;
  height: 7.227rem;
}

.image_10 {
  position: absolute;
  left: 22.8rem;
  top: 59.867rem;
  width: 1.68rem;
  height: 7.227rem;
}

.image_11 {
  position: absolute;
  left: 31.574rem;
  top: 58.854rem;
  width: 1.68rem;
  height: 8.24rem;
}

.image_12 {
  position: absolute;
  left: 34.534rem;
  top: 59.067rem;
  width: 1.68rem;
  height: 8.027rem;
}

.image_13 {
  position: absolute;
  left: 37.467rem;
  top: 58.96rem;
  width: 1.68rem;
  height: 8.134rem;
}

.image_14 {
  position: absolute;
  left: 40.4rem;
  top: 59.174rem;
  width: 1.68rem;
  height: 7.92rem;
}

.image_15 {
  position: absolute;
  left: 43.334rem;
  top: 58.454rem;
  width: 1.68rem;
  height: 8.64rem;
}
